@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Take a look at our work!</p><hr>
    <p>Birthday Parties</p>
    <img src="images/bday1.jpg" height="300px" style="border:3px solid black;  margin: 5px;">
    <img src="images/bday2.jpg" height="300px" style="border:3px solid black;  margin: 5px;">
    <img src="images/bday3.jpg" height="300px" style="border:3px solid black;  margin: 5px;"><hr>
    <p>Anniversary Parties</p>
    <img src="images/dinner1.jpg" height="300px" style="border:3px solid black;  margin: 5px;">
    <img src="images/dinner2.jpg" height="300px" style="border:3px solid black;  margin: 5px;">
    <img src="images/dinner3.jpg" height="300px" style="border:3px solid black;  margin: 5px;"><hr>
    <p>Engagement Parties</p>
    <img src="images/engaged1.jpg" height="300px" style="border:3px solid black;  margin: 5px;">
    <img src="images/engaged2.jpg" height="300px" style="border:3px solid black;  margin: 5px;">
    <img src="images/engaged3.jpg" height="300px" style="border:3px solid black;  margin: 5px;"><hr>
    <p>Special Order Parties</p>
    <img src="images/special1.jpg" height="300px" style="border:3px solid black;  margin: 5px;">
    <img src="images/special2.jpg" height="300px" style="border:3px solid black;  margin: 5px;">
    <img src="images/special3.jpg" height="300px" style="border:3px solid black;  margin: 5px;"><hr>



    <p>Travel over to the Party Page to schedule your own bash!</p>
</div>
