@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We take our client's privacy seriously. Like, seriously, you don't want people knowing you are making the bash of the century? Nah, we have no encryption or passwords. Anyone who wants to see our data is welcome to, we've actually got a couple clients that way....</p>
